{
  "presets": [
    "react",
    [
      "env",
      {
        "modules": false
      }
    ],
    "flow"
  ],
  "plugins": [
    "transform-class-properties",
    "transform-object-rest-spread",
    [
      "transform-imports",
      {
        "react-bootstrap": {
          "transform": "react-bootstrap/lib/${member}",
          "preventFullImport": true
        },
        "lodash": {
          "transform": "lodash/${member}",
          "preventFullImport": true
        }
      }
    ]
  ],
  "env": {
    "test": {
      "presets": [
        "react",
        [
          "env", {}
        ],
        "flow"
      ],
      "plugins": [
        "transform-class-properties",
        "transform-object-rest-spread",
        [
          "transform-imports",
          {
            "react-bootstrap": {
              "transform": "react-bootstrap/lib/${member}",
              "preventFullImport": true
            },
            "lodash": {
              "transform": "lodash/${member}",
              "preventFullImport": true
            }
          }
        ]
      ]
    }
  }
}
