# Address and port the server will listen to. The ones below are defaults
# useful for development. On a more formal occasion you will likely to want
# change these.
#listen_address="localhost"
#listen_port="8086"

# Base URL of the API, without version or trailing slash (/)
kerrokantasi_api_base="https://api.hel.fi/kerrokantasi-test"

# Image to use for the hero of the front page
hero_image_url="http://materialbank.myhelsinki.fi/detail/1192/download/7"

# Specifies the canonical URL for this service. Kerrokantasi-UI currently
# uses this for generating the requested callback address from SSO. This
# will need to match whatever you enter in the browser address bar to reach
# the UI and the SSO must also be configured to accept this.
# Default is again for development.
public_url="http://localhost:8086"

# ExpressJS uses this secret for purposes. We are not sure if kerrokantasi-ui
# actually uses it for something. It is still required
expressjs_session_secret="dev-secret-do-not-use-in-production"

# OpenId Connect configuration
openid_client_id="client-id-configured-to-your-opendid-provider"
openid_audience="https://auth-url.domain/path"
openid_authority="your-authority"
openid_apitoken_url="https://auth-url.domain/api-tokens/"

# Makes `Strongly authenticated` option visible as a commenting option for hearings
# Default: false
# enable_strong_auth=false

# City specific configuration
# For whitelabel styles use "whitelabel".
# For city assets installed to node_modules us the name of the package
# for instance "kerrokantasi-ui-turku".
# Default: "cities/helsinki"
city_config="cities/helsinki"

# Should display accessibility page link in the footer and accessibility page content
# Default: false
# show_accessibility_info=true

# Should display social media share buttons on a hearing header
# Default: true
# show_social_media_sharing=false

# Enable high-contrast toggle button in navbar next to language switcher.
# To use just add .scss rules to city specific files ie
# .high-contrast {
#   nav {
#    background-color: white;
#    ...
#   }
#   main {
#   ....
#   }
#}
# Default: false
# enable_highcontrast=true

# Are cookies in use? If enabled then cookie scripts are injected into the html.
# Everything related to cookies is disabled by default unless this value is changed.
# Default: false
# enable_cookies=true

# Cookiebot consent management platform configuration. Cookiebot is disabled by default.
# To use Cookiebot set both enable_cookies and enable_cookiebot to true.
# enable_cookiebot=true
# cookiebot_data_cbid="your-unique-cookiebot-domain-group-id"

# Address for hearing admin help link
# Default: "https://drive.google.com/open?id=1vtUNzbJNVcp7K9JPrE6XP8yTmkBLW3N3FGEsR1NbbIw"
# admin_help_url=
