.welcome-koro {
  &__bottom {
    @include koro("storm", $theme-primary-light, 400);
    background-color: transparent;
    width: 100%;
    height: $line-height-computed * 3;
    position: absolute;
    bottom: 0;
  }
}

.hearings-koro {
  &__bottom {
    @include koro("storm", $white, 400);
    background-color: $hel-engel;
    width: 100%;
    height: $line-height-computed * 3;
    position: absolute;
    bottom: 0;
  }
}

.page-section--hearing-card {
  padding: $line-height-computed * 1 0  $line-height-computed * 5 0;
  background-color: $hel-engel;
}
