.alertify {
    .ajs-dimmer {
        background-color: #000;
        opacity: .5;
    }

    .ajs-dialog {
        max-width: 600px;
        min-height: 122px;
        background-color: #fff;
        box-shadow: 0 5px 15px rgba(0,0,0,.5);
    }

    .ajs-header {
        background-color: $gray-lighter;
        font-size: $font-size-h4;
        font-weight: $headings-font-weight;
    }

  .ajs-body {
    .ajs-content {
      padding: $line-height-computed 0;
    }
  }

    &.ajs-resizable, &.ajs-maximized:not(.ajs-resizable) {
        .ajs-content {
            top: 58px;
            bottom: 68px;
        }
    }

    .ajs-footer {
        background-color: #fff;
        padding: 15px;
        border-top: 1px solid #e5e5e5;
    }

    .ajs-button {
      @extend .btn;
      @extend .btn-primary;
    }
}

/***************
 notifier
***************/

.alertify-notifier {
    .ajs-message {
        background: rgba( 255, 255, 255, .95);
        color: $black;
        text-align: center;
        text-shadow: 0;

        &.ajs-success {
            color: $white;
            background: $brand-success;
        }

        &.ajs-error {
            color: $white;
            background: $brand-danger;
        }

        &.ajs-warning {
            color: $white;
            background: $brand-warning;
        }
    }
}