.field-hint {
    color: $gray-light;
    font-weight: normal;
    margin-left: 0.5em;
}

fieldset {
  padding-bottom: 2em;
}

.rich-text-editor {
  margin-bottom: 15px;

  > span {
    font-weight: bold;
    margin-bottom: 5px;
  }

  .DraftEditor-editorContainer {
    border: 1px solid #abb2bd;
    padding: 6px 12px;
  }
}

.rich-text-editor {
  .control-label {
    display: block;
  }
}

.RichEditor {
  &-controls {
    display: inline-block;
    margin-bottom: 10px;
    margin-right: .5em;
    padding-right: .25em;
    user-select: none;
    font-size: 14px;
    border-right: 2px solid $gray-light;
  }

  &-styleButton {
    background: #fff;
    border: 1px solid #999;
    color: #000;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    margin-right: 4px;
    padding: 1px 4px;
    transition: background .2s;


    &:hover() {
      background: #D6D6D6;
    }
  }

  &-activeButton {
    background-color: $theme-highlight-light;
  }
}

.hyperlink-button, {
  display: inline-block;
  margin-bottom: 10px;

  > div,
  .url-input-container {
    display: inline-block;
  }

  .url-input {
    height: 22px;
    margin-right: 4px;
    padding: 1px;
  }
}
