.fullwidth-hearing {
  position: relative;

  &-image {
    min-height: $line-height-computed * 10;
    background-size: cover;
    background-position: center center;
  }

  &-header {
    background: $theme-primary-dark;
    color: $white;
    padding: 30px;
    width: 100%;
    a {
      color: $white;
      text-decoration: none;
    }
  }

  &-title {
    margin-top: 0;
  }

  &-title-wrap {
    padding-right: 70px;
    .fullwidth-hearing-comments {
      position: absolute;
      top: 0;
      right: 0;
    }
  }

  &-times {
      color: $gray-lighter;
      font-size: 1.4rem;
  }

  &-comments {
    position: absolute;
    top: 0;
    right: 0;
    padding: 3px 10px;
    font-size: 1.5em;
    font-weight: 500;
    background: $theme-secondary-light;
    border-radius: 0 0 0 24px;
  }
}
