.fullscreen-hearing {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1000;

  .fullscreen-navigation {
    display: flex;
    flex-direction: column;

    .navbar-brand {
      padding: 10px 0 0 15px;
    }

    .logo {
      width: 80px;
      padding: 7px 0 15px;
      margin-right: 15px;

      a {
        display: block;
        color: #fff;
      }

      img {
        display: inline-block;
        height: 46px;
        width: auto;
        vertical-align: middle;
      }
    }

    .navbar-header {
      position: relative;
    }

    .header-title {
      text-align: center;
      display: block;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      position: absolute;
      font-size: 1.1rem;
      line-height: 1.3;
      font-weight: bold;
      margin: 0 auto;
      width: 100px;

      a,
      a:hover {
        color: $black;
        text-decoration: none;
      }

      @media (min-width: $screen-sm-min) {
        font-size: 1.8rem;
      }

      @media (min-width: $screen-md-min) {
        font-size: 2.0rem;
      }
    }

    .minimize {

       /*@media screen and (min-width: 400px) {
        flex: 0 0 auto;
        justify-content: center;
      }*/

      //flex: 1 0 auto;

      /*display: flex;
      align-items: center;
      justify-content: space-between;*/

      /*button {
        display: block;
        background: $theme-primary-dark;
        border-radius: $border-radius-base;
        position: relative;
        height: 40px;
        width: 54px;
        text-align: center;
        color: #fff;
        cursor: pointer;
        border: 0;
      }*/
    }
  }

  .plugin-content {

    overflow: hidden;

    .plugin-comment-form {
      height: 100%;
    }

    form {
      margin: 0;
      height: 100%;
    }

    iframe {
      height: 100%;
    }
  }
}
