.header-section {
  background-color: $hel-silver;
  padding: $line-height-computed * 2 0;
}

.hearing-content-section {
  padding-top: $line-height-computed * 2;

  .section-image:hover {
    cursor: pointer;
  }
}

.hearing-header {

  h1 {
    @media (max-width: $screen-xs-max) {
          font-size: 3rem;
    }
  }

  .timetable,
  .comment-summary {
    margin-bottom: $line-height-computed;
  }

  .hearing-meta:before, .hearing-meta:after {
    content: "";
    display: block;
    margin: 0 15px $line-height-computed;
    border-top: 1px solid $gray-light;
  }

  .social-bar {
    span {
      margin-right: $line-height-computed / 2;
    }
  }

  .language-link {
      padding: 4px;
      border-radius: 4px;

      a {
          text-decoration: none;
          cursor: pointer;
      }

      &-active {
          padding: 4px;
          border-radius: 4px;
          background: $gray-light;
          color: #fff;
      }
  }
}

.hearing-content, .section-content {
  margin-bottom: $line-height-computed * 2;
}

.hearing-image-list {
  margin-bottom: $line-height-computed * 2;
}

.image-lightbox {
  .ril-toolbar-right {
    padding: 8px 10px 8px 0;
  }
}

.image-caption {
    width: 100%;
    padding: 10px 15px;
    margin-bottom: 15px;
    background-color: $gray-lighter;
    font-size: 1.4rem;
}

.hearing-contacts {
  border: 1px solid $gray-light;
  padding: 0 $line-height-computed;
  margin-bottom: $line-height-computed * 2;

  .contact-card {
    margin-bottom: $line-height-computed;
  }
}

.hearing-section-group {
  margin-bottom: $line-height-computed;
  padding-top: $navbar-height;
}

.section-list-item {
    display: flex;
    margin-bottom: $line-height-computed;
    position: relative;
    background-color: $gray-lighter;

    a {
      text-decoration: none;
    }

    @media (max-width: $screen-xs-max) {
        font-size: 1.4rem;
    }
    &-image {
        flex-basis: content;
        flex-shrink: 0;
        flex-grow: 0;
        width: 150px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        @media (max-width: $screen-xs-max) {
            display: none;
        }
        float: left;
        cursor: pointer;
    }
    &-content {
        flex: 1 auto;
        padding: $line-height-computed;
        h3 {
            margin-top: 0;
        }
        @media (min-width: $screen-sm-min) {
            padding-left: 25px;
        }
        @media (max-width: $screen-xs-max) {
            font-size: 1.5rem;
        }
    }
}

.hearing-comment-section {
  padding-top: $navbar-height;
}

.comment-form-container {
  @extend .col-xs-12;
  margin-bottom: $line-height-computed * 2;
}

.comment-form {
    background-color: $white;
    padding: 1em;
    margin-bottom: $line-height-computed;

    &__file {
        margin: 10px 0;
        padding-top: 10px;
    }

    &__image-too-big {
        color: red !important;
        padding-bottom: 10px;
    }

    &__select-button {
        padding: 10px 0;
    }

    &__selected-images {
        padding-top: 10px;
    }

    .comment-buttons {
      text-align: right;
      margin: $line-height-computed 0;

      .btn {
        margin-right: 1em;
      }

      .btn:last-child {
        margin-right: 0;
      }
    }

    textarea {
      height: 7em;
      line-height: 1em;
    }
}

.comment-conditions {
    border-top: 1px solid $gray-light;
    padding-top: 15px;
    font-size: 1.4rem;
}

.section-title {
    cursor: pointer;
    &-comments {
        float: right;
    }
}

.closure-info {
    padding: $line-height-computed;
    margin-bottom: $line-height-computed;
    background-color: $theme-primary-light;

    .section-title {
        cursor: auto;
    }

    .section-content {
      margin: 0;
    }
}

.plugin-frame {
    width: 100%;
    height: 450px;
    border: 0;
}

[id^='hearing-sectiongroup-'] {
    margin-bottom: $line-height-computed * 2;

    h2:first-letter {
        text-transform:capitalize;
    }
}

.sortable-comment-list {
    background-color: $theme-secondary-light;
    padding: $line-height-computed;

    h2 {
      margin-top: 0;
      padding-bottom: $line-height-computed / 2;
      border-bottom: 1px solid $gray;
    }

    h2:first-letter {
        text-transform:capitalize;
    }
}

.delete-modal {
    margin-top: 25%;

    @media (max-width: $screen-sm-max) {
        margin-top: 55%;
    }
}

.commentlist .commentlist__load-more {
  background: $gray-light;
  padding: 20px 15px 15px;
  text-align: center;
}


.commenticon {
    float: right;
}
