.hearing-sidebar {
    background: $gray-lighter;
    padding: 15px;
    font-size: 1.4rem;
    margin-bottom: 25px;
    overflow-y: scroll;

    .list-group {
        .list-group-item {
            //color: $gray-light;
            &:hover {

            }

            .active {
                //color: #FFFFFF;
            }
        }
        a {

            :hover {
                //color: #FFFFFF;
            }
            .active {
                //color: #FFFFFF;
            }
        }
        .active {
            //color: #FFFFFF;
        }
    }

    .language-link {
        padding: 4px;
        border-radius: 4px;

        a {
            cursor: pointer;
        }

        &-active {
            padding: 4px;
            border-radius: 4px;
            background: $gray-light;
            color: #fff;
        }
    }

    @media (max-width: $screen-sm-max) {
        position: static !important;
        width: auto !important;
    }

    .sidebar-section {
        margin-bottom: 20px;
        color: $text-muted;

        &.fullscreen {
            .btn .fa {
                margin-right: 5px;
            }
        }

        &.map {
            margin: 20px auto;
        }
        .list-group-item:first-letter {
            text-transform:capitalize;
        }

        &.further-info .flex {
          display: flex;
          flex-wrap: wrap;

          & > div {
              margin-right: 20px;
          }
        }
    }

    .social-bar > span {
        margin-right: 5px;
        display: inline-block;
    }

    h4 {
        margin-top: 0;
        margin-bottom: 7px;
        text-transform: uppercase;
        font-size: 1.3rem;
        color: $text-color;
    }

    h5 {
      font-size: 1.4rem;
    }

    .list-group .badge {
        font-size: 1.1rem;
    }

    .comment-icon {
        float: right;
        margin-left: 15px;
    }
}

.image-caption {
    width: 100%;
    padding: 10px 15px;
    margin-bottom: 15px;
    background-color: $gray-light;
    font-size: 1.4rem;
}

.section-list-item {
    display: flex;
    margin-bottom: $line-height-computed;
    position: relative;
    background-color: $gray-lighter;

    @media (max-width: $screen-xs-max) {
        font-size: 1.4rem;
    }
    &-image {
        flex-basis: content;
        flex-shrink: 0;
        flex-grow: 0;
        @media (max-width: $screen-xs-max) {
            display: none;
        }
        img {
            max-width: 150px;
            max-height: 100%;
        }
        float: left;
        cursor: pointer;
    }
    &-content {
        flex: 1 auto;
        h3 {
            margin-top: 0;
        }
        @media (min-width: $screen-sm-min) {
            padding-left: 25px;
        }
        @media (max-width: $screen-xs-max) {
            font-size: 1.5rem;
        }
    }
}

.comment-form-container {
  @extend .col-xs-12;
  margin-bottom: $line-height-computed;
}

.comment-form {
    background-color: $theme-primary-light;
    padding: 1em;
    margin-bottom: $line-height-computed;

    &__file {
        margin: 10px 0;
        padding-top: 10px;
    }

    &__image-too-big {
        color: red !important;
        padding-bottom: 10px;
    }

    &__select-button {
        padding: 10px 0;
    }

    &__selected-images {
        padding-top: 10px;
    }

    textarea {
      height: 7em;
      line-height: 1em;
    }
}

.comment-conditions {
    padding-top: 15px;
    font-size: 1.4rem;
}

.section-title {
    cursor: pointer;
    &-comments {
        float: right;
    }
}

.closure-info {
    background-color: $theme-primary-light;
    .section-title {
        cursor: auto;
    }
    padding-right: 1em;
    padding-left: 1em;
    padding-top: 1px;
}

.plugin-frame {
    width: 100%;
    height: 450px;
    border: 0;
}

[id^='hearing-sectiongroup-'] {
    margin-bottom: $line-height-computed * 2;

    h2:first-letter {
        text-transform:capitalize;
    }
}

.sortable-comment-list {
    background-color: $theme-secondary-light;
    padding: $line-height-computed;

    h2 {
      margin-top: 0;
      padding-bottom: $line-height-computed / 2;
      border-bottom: 1px solid $gray;
    }

    h2:first-letter {
        text-transform:capitalize;
    }
}

.delete-modal {
    margin-top: 25%;

    @media (max-width: $screen-sm-max) {
        margin-top: 55%;
    }
}

.commentlist .commentlist__load-more {
  background: $gray-light;
  padding: 20px 15px 15px;
  text-align: center;
}


.commenticon {
    float: right;
}
