.page-section {
  padding-top: $line-height-computed * 2;
  padding-bottom: $line-height-computed * 2;
}

.page-section--welcome {
  background-color: $hel-fog;
  color: $black;
}

.page-section--hearing-card {
  position: relative;
  padding: $line-height-computed * 5 0;
  background-color: $theme-primary-light;
}

.hearings-koro {
  &__top {
    @include koro("storm", $hel-fog, 400);
    background-color: $hel-engel;
    width: 100%;
    height: $line-height-computed * 3;
    position: absolute;
    top: 0;
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }

  &__bottom {
    @include koro("storm", $white, 400);
    background-color: $hel-engel;
    width: 100%;
    height: $line-height-computed * 3;
    position: absolute;
    bottom: 0;
  }
}

.page-section--map {

}

.home-logo {
  @include helsinki-logo($black);
  background-position: right;
  margin-left: auto;
  margin-top: -24px;
  height: $line-height-computed * 3;
  width: 125px;
}
