.navbar-helsinki {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.15);
  z-index: 2;
  margin-bottom: 0;

  .navbar-brand {
    padding-top: 14px;
  }

  .navbar-brand .navbar-logo {
      display: inline-block;
      height: 36px;
  }

  .navbar-right {
    float: right !important;
  }

  .navbar-header {
    float: left !important;
  }

  .btn-group.open .dropdown-toggle {
    box-shadow: none;
    color: $brand-primary;
  }

  .btn-default {
    border: 0;

    &:active {
      box-shadow: none;
      background-color: $white;
      color: $brand-primary;
    }
  }
}

.language-switcher {
  text-transform: uppercase;

  &.active > a:after{
    display: none;
  }
}

.user-menu {
  .user-name {
    display: none;
  }

  @media (min-width: $screen-sm-min) {
    .user-name {
      display: inline-block;
    }
  }
}

.navbar-primary {
  margin-bottom: 0;
  background-color: $hel-fog;
}

.navbar-brand {
  margin-right: 24px;
  font-size: 21px;
  letter-spacing: 0.02em;
}

.nav-fixed {
  .navbar-primary {
    top: 0;
    position: fixed;
    width: 100%;
    z-index: 1001;
  }
}

.navbar-default .navbar-collapse {
  border-top-color: rgba($dark-gray, .2);

  .nav {
    border-bottom-color: rgba($dark-gray, .2);
  }
}

.navbar-right.nav-user-menu {
  margin-top: 10px;
  margin-right: 0;
  margin-left: 0;

  @media (min-width: $screen-sm-min) {
    margin-right: -15px;
    margin-left: -15px;
  }

  .user-nav-icon {
    font-size: 1.2em;
    margin-right: .5em;
  }

  li > a {
    padding: 6px;

    &:hover:after {
      border: 0;
    }
  }
}
