//
// Application specific visual customisation
// --------------------------------------------------

$theme-primary-dark:    $hel-coat !default;
$theme-primary-light:   $hel-engel !default;

$theme-secondary-dark:  $hel-brick !default;
$theme-secondary-light: $hel-fog !default;

$theme-highlight-dark:  $hel-bus !default;
$theme-highlight-light: $hel-copper !default;

// Non brand colors

$white:         #ffffff;
$light-gray:    #ebedf1;
$dark-gray:     #525a65;
$medium-gray:   #abb2bd;
$black:         #000000;

// Dimenstions
$padding-default: 12px; // http://opencity.design/development/styles/overview
$margin-default: 12px; // http://opencity.design/development/styles/overview
$padding-small: 6px; // http://opencity.design/development/styles/overview
$margin-small: 6px; // http://opencity.design/development/styles/overview
$padding-small: 6px; // http://opencity.design/development/styles/overview

// Theme
$theme-success:       $hel-tram;
$theme-success-light: $hel-copper;
$theme-info:          $hel-coat;
$theme-info-light:    $hel-fog;
$theme-warning:       $hel-summer;
$theme-warning-light: $hel-engel;
$theme-danger:        $hel-metro;
$theme-danger-light:  $hel-suomenlinna;

$bootstrap-sass-asset-helper: false !default;

$icon-font-path: "";

$font-family-sans-serif:  $hel-grotesk;
$font-family-serif:       'Noto Serif', serif;

$site-footer-height: 400px;
