// Non brand colors

$white:         #ffffff;
$light-gray:    #ebedf1;
$dark-gray:     #525a65;
$medium-gray:   #abb2bd;
$black:         #000000;

//
// Application specific visual customisation
// --------------------------------------------------

$theme-primary-dark:    $black !default;
$theme-primary-light:   $engel !default;

$theme-secondary-dark:  $brick !default;
$theme-secondary-light: $fog !default;

$theme-highlight-dark:  $bus !default;
$theme-highlight-light: $copper !default;


$bootstrap-sass-asset-helper: false !default;

$icon-font-path: "";

$font-family-sans-serif:  "HelsinkiGrotesk", Arial, -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;