div:has(> .hearing-form-modal) {
  z-index: 1050;
}

.form-container {
  &.hearing-form-modal {
    width: 80% !important;
  }

  .panel-heading {
    background: $hel-engel;
  }

  .panel-info .panel-heading {
    background: $hel-fog;
  }

  .new-section-toolbar {
    background: lighten($hel-fog, 10%);
  }
}

.toolbar-bottom {
  .btn-toolbar {
    display: flex;
    align-content: flex-start;
    flex-wrap: wrap;
    button[type='button'] {
      margin: 2px;
    }
  }
  .alert {
    &.alert-success {
      color: $white;
    }
  }
}
