.header-section {
  background-color: $hel-silver;
}

.hearing-header {
  .hearing-meta {
    border-top: 1px solid $gray-light;
  }

  .main-labels {
    border-top: 1px solid $gray-light;
  }
}

.hearing-project {
  .active-phase {
    background: $hel-fog;
  }
}

.sortable-comment-list {
  background-color: $theme-secondary-light;
}

// Yes, the progressBar-wrapper is required beacuse if it's not included, the more specific definition of style is used.
.progressBar-wrapper .progressBar {
  background: $theme-primary-dark;
}