div:has(> .hearing-form-modal) {
  z-index: 1003;
}

div:has(> .hearing-form-child-modal) {
  z-index: 1004;
}

.form-container {
  &.hearing-form-modal {
    width: 80% !important;

    .hearing-form-action-buttons {
      justify-content: space-between;
    }
  }

  .hearing-form-accordion {
    & > div:first-child div[role='heading'] {
      background-color: var(--color-engel);
      padding: var(--spacing-3-xs) 0;
    }

    & > div:nth-child(2) {
      padding-top: var(--spacing-s);
      padding-left: var(--spacing-s);
      padding-right: var(--spacing-s);
    }
  }

  .panel-heading {
    background: $hel-engel;
  }

  .panel-info .panel-heading {
    background: $hel-fog;
  }

  .new-section-toolbar {
    background: lighten($hel-fog, 10%);
  }
}

.toolbar-bottom {
  .btn-toolbar {
    display: flex;
    align-content: flex-start;
    flex-wrap: wrap;
    button[type='button'] {
      margin: 2px;
    }
  }
  .alert {
    &.alert-success {
      color: $white;
    }
  }
}
