.hearing-list {
    &-item {
        margin: 40px 0px;
        &-meta {
            color: @text-muted;
            font-size: 1.4rem;
        }
    }
    & + .hearing-list {
        margin-top: 60px;
    }
}
