html,
body,
h1:focus,
.main-content:focus,
.modal:focus {
  outline: 0 !important;
}

#main-container:not(.fullscreen) {
  min-height: 80vh;
  min-height: calc(100vh - 125px - 400px);
  &.headless {
    min-height: calc(100vh - 400px);
  }
}

html {
  font-size: 16px;
  height: 100%;
}

body {
  position: relative;
  min-height: 100%;
}

p {
  word-wrap: break-word;
}

.container,
.container-fluid {
  min-width: 320px;
}

main {
  &.fullscreen {
    padding: 0;
  }
}

.lead {
  font-weight: normal;
  font-size: 18px;

  @media (min-width: $screen-sm-min) {
    font-size: 20px;
  }
}

.required,
.required-field {
  .control-label:before {
    content: '*';
    color: $brand-danger;
    margin-left: 1px;
  }
}

.label {
  text-transform: uppercase;
  padding: 0.4em 0.75em 0.3em;
  display: inline-block;
  vertical-align: middle;
  font-size: 60%;
  letter-spacing: 0.03em;
}

.main-labels {
  margin-bottom: 10px;

  a {
    text-decoration: none;
  }

  .label {
    font-size: 75%;
    margin-right: 10px;
    margin-bottom: 10px;
  }
}

.well,
.panel {
  box-shadow: none;
}

.page-title {
  margin-top: 11px;
  margin-bottom: 30px;
}

.loader-wrap {
  padding: $line-height-computed * 3;
  text-align: center;
  color: $medium-gray;
}

textarea {
  max-width: 100%;
}

// Adds icon to show user that the link is opening to new tab/window
a[target='_blank']::after {
  content: '\f08e';
  font-family: FontAwesome;
  padding-left: 5px;
}

a.list-group-item {
  &:hover,
  &:focus {
    > .badge {
      background: #fff;
      color: $theme-highlight-dark;
    }
  }
}

.feedback-box {
  top: 60px;
  background-color: $theme-primary-light;
  padding: $line-height-computed;
  text-align: center;
  color: $black;
  display: block;

  .feedback-prompt {
    margin: 0;
  }

  &:hover,
  &:focus {
    background-color: lighten($theme-primary-light, 5%);
    text-decoration: none;
  }
}

a.fullwidth {
  display: block;
  width: 100%;
  padding: $navbar-padding-vertical;
  background: $light-gray;
  text-align: center;
  margin-bottom: 15px;
}

// These styles could be eventually introduced to common Bootstrap theme
.btn.btn-default {
  background-color: transparent;
}

.skip-to-main-content {
  position: absolute;
  left: -999px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
  z-index: -999;

  &:focus,
  a:active {
    left: 50%;
    top: auto;
    height: auto;
    width: auto;
    color: #fff;
    background-color: #000;
    overflow: auto;
    margin: 5px auto;
    padding: $grid-gutter-width/3 $grid-gutter-width/2;
    border-radius: $border-radius-base;
    text-align: center;
    z-index: 999;
    box-shadow: $default-shadow;
    transform: translateX(-50%);
    font-weight: bold;
  }
}

.hidden-link {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
  z-index: -999;

  &:focus {
    position: static;
    width: auto;
    height: auto;
  }
}

.dropdown-toggle:focus {
  outline: 5px auto -webkit-focus-ring-color;
}

.mouse-only-click-element {
  cursor: pointer;

  &:hover {
    opacity: 0.9;
  }
}

// Override custom select widget colors
.Select--multi .Select-value {
  color: $brand-info !important;
}
.Select-clear-zone {
  color: $text-muted !important;
}

.maintenance-notification {
  &-container {
    padding-top: var(--spacing-s);
    padding-bottom: var(--spacing-s);
  }
}

.kerrokantasi-btn[type="button"] {
  &.success {
    background-color: transparent;
    border-color: $theme-success;
    color: $theme-success;
    &:hover {
      border-color: $theme-success;
      background-color: lighten($theme-success-light, 50%);
    }
  }
}