@keyframes highlightComment {
  from {
    background-color: $theme-primary-light;
  }
  to {
    background-color: white;
  }
}

.sortable-comment-list {
  &__count {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    padding-top: 30px;
    border-top: 1px solid $theme-primary-light;
  }

  .sort-selector {
    @extend .col-md-4;
    @extend .col-md-offset-8;
    @extend .col-sm-6;
    @extend .col-sm-offset-6;
    font-size: 1.2rem;
    padding-top: 5px;
    padding-bottom: 5px;
    height: 50px;
  }

  &__loader {
    text-align: center;
  }

  .plugin-frame {
    width: 100%;
    height: 450px;
    border: 0;
  }
}

.commentlist {
  margin: 40px 0 0 0;
  padding: 0;
  list-style-type: none;

  .hearing-comment {
    margin-bottom: $line-height-computed;
    background-color: $white;
    position: relative;

    &__comment-wrapper {
      border-left: 7px solid $white;
      padding: $grid-gutter-width / 2;
      padding-right: ($grid-gutter-width/2) + 7px;
    }

    &__admin > .hearing-comment__comment-wrapper {
      border-left-color: $theme-primary-light;
    }

    &__flagged > .hearing-comment__comment-wrapper {
      border-left-color: $theme-danger-light;
    }

    &__pin {
      flex-basis: 50%;
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;
      display: flex;
      margin: $margin-default 0;

      &__icon {
        cursor: pointer;
        border: 0px;
        outline: 0;

        &:focus {
          outline: none;
        }

        &:active {
          outline: 0;
          box-shadow: none;

          &:focus {
            outline: 0;
          }
        }
      }

      &__pin-comment {
        background-image: url('/assets/images/pin-image.svg') !important;
        height: 22px;
        width: 22px;
        background-repeat: no-repeat;
        background-size: contain;
      }

      &__unpin-comment {
        background-image: url('/assets/images/unpin-image.svg') !important;
        height: 22px;
        width: 22px;
        background-repeat: no-repeat;
        background-size: contain;
      }
    }

    &-header {
      position: relative;

      @media (min-width: $screen-sm-min) {
        display: flex;
        flex-flow: row nowrap;
      }
    }

    &-publisher {
      flex: 1 1 auto;
      font-weight: bold;
    }

    &-pinned-container {
      flex: 0 0 auto;
      position: relative;
      font-size: 14px;
      margin-bottom: $line-height-computed/2;

      @media (min-width: $screen-sm-min) {
        text-align: center;
        top: -$grid-gutter-width / 2;
        margin-left: $grid-gutter-width;
        margin-right: -(($grid-gutter-width/2) + 7px);
        margin-bottom: 0;
        order: 2;
      }

      > span {
        background-color: $black;
        padding: 3px $padding-default;
        display: inline-block;
        color: white;
      }
    }

    &-user {
      margin-right: 10px;
      order: 1;

      @media (max-width: $screen-xs-max) {
        display: block;
      }

      &-registered {
        color: $theme-highlight-dark;
        text-transform: capitalize;
      }

      .fa {
        margin-right: 3px;
      }
    }

    &-date {
      color: $text-muted;
      font-size: $font-size-small;
      position: relative;

      @media (min-width: $screen-sm-min) {
        &:before {
          content: "";
          margin-right: 10px;
          background-color: $text-muted;
          width: 4px;
          height: 4px;
          border-radius: 50%;
          display: inline-block;
          vertical-align: middle;
        }
      }
    }

    &-body {
      padding: $grid-gutter-width/2 0;

      p:last-child {
        margin-bottom: 0;
      }
    }

    &-body-disabled {
      color: $gray
    }

    &__actions-bar {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
    }

    &__reply-link {
      flex: 0 0 auto;
      align-self: center;
    }

    &-votes {
      flex: 0 0 auto;
      margin-left: $grid-gutter-width;
      text-align: right;
      justify-self: flex-end;
      align-self: center;
    }

    &-vote-link {
      padding: 0;
      border: 0;
      background: transparent;
      color: $text-color;
      font-size: 115%;
      font-weight: normal;

      &:hover,
      &:focus {
        background: transparent;
        color: $link-hover-color;
      }

      .fa {
        margin-left: 2px;
        margin-right: 2px;
      }
    }

    &__show-more {
      border-top: 1px solid $light-gray;
      font-weight: bold;
      margin-top: $margin-default;
      padding: $padding-default 0 0 0;
      text-align: center;

      &__wrapper {
        padding: 0 $padding-small;

        & > a {
          text-decoration: none;

          &:hover,
          &:focus {
            border-bottom: 1px solid $link-hover-color;
          }
        }

        .fa {
          margin-right: 4px;
        }
      }

      &__count {
        margin-left: $margin-small;
      }
    }

    &__edit-links {
      padding-bottom: $grid-gutter-width/3;
      margin-bottom: $grid-gutter-width/3;
      font-style: italic;
      font-size: $font-size-small;

      a {
        color: $text-muted;

        &:hover,
        &:focus {
          color: $link-hover-color;
        }

        & + a {
          margin-left: $grid-gutter-width/4;
          padding-left: $grid-gutter-width/4;
          border-left: 1px solid $text-muted;
        }
      }
    }
    &__map {
      &-toggle {
        @media screen and (max-width: $screen-xs-max) {
          font-size: 0.75em;
        }
        font-family: inherit;
        font-size: 0.875em;
        font-weight: bold;
        padding: 0;
        background: transparent;
        margin-bottom: 10px;
        border: none;
        color: #0062ae;
        &:hover {
          color: #003762;
          text-decoration: underline;

        }
      }
      &-container {
        height: 250px;
        width: 75%;
        @media screen and (max-width: $screen-sm-max){
          width: 100%;
        }
      }
    }
  }

  .sub-comments {
    background-color: $white;
    padding-left: $grid-gutter-width;
    list-style-type: none;

    .hearing-comment {
      margin-bottom: 0px;
      border-top: 1px solid $light-gray;
    }
  }


  .comment-form {
    background-color: white !important;
  }

  .comment-animate {
    animation-name: highlightComment;
    animation-duration: 2s;
  }

  .comment-form {
    background-color: $theme-primary-light;
    padding: 1em;

    &__file {
      margin: 10px 0;
      padding-top: 10px;
    }

    &__image-too-big {
      color: red !important;
      padding-bottom: 10px;
    }

    &__select-file {
      padding: 10px 0;
    }

    &__selected-images {
      padding-top: 10px;
    }
  }

  .comment-conditions {
    padding-top: 15px;
    font-size: 1.4rem;
  }

  .closure-info {
    background-color: $theme-primary-light;
    padding-right: 1em;
    padding-left: 1em;
    padding-top: 1px;
  }
}
