.cookieConsent {
  align-items: baseline;
  background: $light-blue;
  color: $black;
  display: flex;
  flex-wrap: wrap;
  left: 0px;
  position: fixed;
  width: 100%;
  z-index: 1001;
  bottom: 0px;
  box-shadow: 0 -1px 3px #eaf0f6;
  border-top: 1px solid lightgray;
  justify-content: flex-end;
  padding: 25px 120px;

  .cookie-content {
    width: 100%;
    display: flex;
    flex-direction: column;

      #cookiebar-title {
        color: $white;
        font-family: $hel-grotesk;
        font-size: 36px;
        font-weight: 500;
        line-height: 43px;
      }

      #cookiebar-content {
        color: $white;
        font-family: $hel-grotesk;
        font-size: 18px;
        font-weight: normal;
        line-height: 27px;
      }

      #cookiebar-link {
        color: $white;
        font-family: $hel-grotesk;
        font-size: 18px;
        font-weight: normal;
        line-height: 27px;
        text-decoration: underline;
        margin-bottom: 20px;
        width: 160px;
      }
  }

  #cookie-accept-button {
    background: $white;
    border: 1px solid $black;
    border-radius: 0px;
    box-shadow: none;
    color: $light-blue;
    font-family: $hel-grotesk;
    cursor: pointer;
    flex: 0 0 auto;
    padding: 5px 10px;
    margin: 0 15px 15px 15px;
    height: 56px;
    width: 232px;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: center;
  }

  #cookie-decline-button {
    background: transparent;
    border: 1px solid $white;
    border-radius: 0px;
    box-shadow: none;
    color: $white;
    cursor: pointer;
    flex: 0 0 auto;
    padding: 5px 10px;
    margin: 0;
    height: 56px;
    width: 232px;
    color: $white;
    font-family: $hel-grotesk;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: center;
  }

  @media screen and (max-width: $screen-sm-min) {
    padding: 32px 24px;

    .cookie-content {
      #cookiebar-title {
        font-size: 24px;
        font-weight: 500;
        line-height: 29px;
      }

      #cookiebar-content {
        font-size: 16px;
        font-weight: normal;
        line-height: 24px;
      }

      #cookiebar-link {
        font-size: 16px;
        font-weight: normal;
        line-height: 24px;
      }
    }

    #cookie-accept-button {
      width: 100%;
      margin: 0;
    }

    #cookie-decline-button {
      width: 100%;
      margin: 10 0;
    }
  }
}

.cookie-management-modal {
  display: flex !important;
  align-items: center;
  z-index: 1200;

  #collapsible-cookie-panel {
    margin: 0 !important;
  }
  
  #cookie-management-panel {
    margin-top: 20px;
  }

  #cookie-panel-icon {
    margin-right: 10px;
  }
  
  #cookie-management-modal-close {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
    -webkit-appearance: none;
    width: 40px;
    height: 40px;
    padding: 0;
    border-radius: 50%;
    padding: 10px;
    background: transparent;
    border: none;
  }

  #cookie-panel-title-container {
    position: relative;
    cursor: pointer;
    text-decoration: underline;
  }

  #cookie-panel-switch-container {
    position: absolute;
    right: 0;
    top: 0;
    #cookie-panel-switch-status {
      font-size: 12px;
      text-align: right;
      margin-right: 10px;
    }
  }
}