.fullwidth-hearing {
  position: relative;
  margin-bottom: $line-height-computed;
  box-shadow: $default-shadow;

  &-image {
    min-height: $line-height-computed * 14;
    background-size: cover;
    background-position: center center;
  }

  &-header {
    background: $white;
    color: $black;
    padding: $line-height-computed;
    width: 100%;

    a {
      text-decoration: none;
    }
  }

  &-title {
    margin-top: 0;
  }

  &-title-wrap {
    padding-right: 70px;

    .fullwidth-hearing-comments {
      position: absolute;
      top: 0;
      right: 0;
    }
  }

  &-times {
    margin-bottom: $line-height-computed / 2;
    color: $text-muted;
    font-size: 1.4rem;
  }

  &-comments {
    position: absolute;
    top: 0;
    right: 0;
    padding: 3px 10px;
    font-size: 1.5em;
    font-weight: 500;
    background: $theme-secondary-light;
    border-radius: 0 0 0 24px;
  }

  &-labels {
    @include clearfix;
  }
}
