.header-section {
  background-color: $gray-200;
  padding: $line-height-computed * 2 0;
}

.hearing-content-section {
  &.main {
    padding-top: $grid-gutter-width * 1.5;
  }

  .iframe-wrapper {
    @media (max-width: $screen-md-min) {
        position: relative;
        overflow: hidden;
        padding-top: 56.25%;
    }
    iframe {
      max-width: 100%;
      @media (max-width: $screen-md-min) {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: 0;
      }
    }
  }
}

.hearing-header {
  &-title {
    margin-top: 0;
    margin-bottom: $line-height-computed;

    @media (max-width: $screen-xs-max) {
      font-size: 3rem;
    }
  }

  .header-abstract {
    margin-bottom: $grid-gutter-width/2;
  }

  .hearing-meta {
    margin-top: $grid-gutter-width/2;
    padding-top: $grid-gutter-width/2;
    border-top: 1px solid $border-color;
    display: flex;
    flex-flow: row wrap;

    &__element {
      margin: $grid-gutter-width/2 $grid-gutter-width*2 $grid-gutter-width/2 0;
      position: relative;
      padding-left: $grid-gutter-width*2;
      min-width: 290px;

      .fa {
        position: absolute;
        left: 0;
        width: $grid-gutter-width*2;
        text-align: center;
        color: $theme-primary-dark;
        font-size: 1.5em;
      }
    }

    .translation-not-available {
      font-style: italic;
      font-weight: 600;
    }
  }

  .subsection-preview-btn {
    padding-left: 0;
    margin-bottom: 0;
  }

  .social-bar {
    display: flex;
    flex-direction: row;
    margin: 12px 0 $grid-gutter-width 0;
    max-height: 50px;

    @media (min-width: $screen-md-min) {
      justify-content: flex-end;
    }
  }

  .main-labels {
    margin-bottom: 0;
    margin-top: $grid-gutter-width/2;
    padding-top: $grid-gutter-width;
    border-top: 1px solid $border-color;
  }
  .hearing-favorite {
    .fa {
      font-size: 1.5em;
    }
    .btn-link {
      padding-left: 0;
      padding-top: 0;
    }
  }
}

.hearing-map-container {
  position: relative;
  margin-bottom: $grid-gutter-width*1.5;

  &::before {
    content: "";
    display: block;
    padding-top: 50%;

    @media (min-width: $screen-md-min) {
      padding-top: 100%;
    }
  }

  .hearing-map {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
  }
}

.hearing-section {
  padding: $grid-gutter-width 0;

  &:first-child {
    padding-top: 0;
  }

  h2 {
    margin: 0;

    @media (max-width: $screen-xs-max) {
      font-size: 2.6rem;
    }

    .hearing-section-toggle-button {
      display: block;
      border: 0;
      margin: 0;
      padding: 0 $grid-gutter-width*1.25;
      background: 0;
      width: 100%;
      text-align: left;
      outline: 0;

      &:hover,
      &:focus {
        span {
          color: $link-hover-color;
          text-decoration: underline;
        }

        .hearing-section-toggle-button-subtitle,
        .hearing-section-toggle-button-subtitle * {
          color: $text-muted;
          text-decoration: none !important;
        }
      }

      &-subtitle {
        display: block;
        font-size: $font-size-large;
        font-weight: normal;
        margin-top: $line-height-computed/2;
        color: $text-muted;
        text-decoration: none;
      }
    }

    .fa-angle-right {
      width: $grid-gutter-width*1.25;
      text-align: center;
      color: $text-muted !important;
      transition: transform .2s;
      margin-left: -$grid-gutter-width*1.25;
      text-decoration: none !important;

      &.open {
        transform: rotate(90deg);
      }
    }
  }

  & + .hearing-section {
    border-top: 1px solid $border-color;
  }

  .section-content-spacer {
    margin: $grid-gutter-width 0 $grid-gutter-width/2 0;

    @media (min-width: $screen-md-min) {
      padding-left: $grid-gutter-width*1.25;
    }
  }

  &.subsections-list {
    padding-bottom: 0;

    .section-content-spacer {
      padding-left: 0;
    }
  }

  &#comments-section {
    scroll-margin-top: 100px;
  }
}

.hearing-project {
  $order-size: 40px;
  $order-font-size: 18px;
  $border-weight: 2px;

  .project-phases-list {
    .phases-list-item {
      display: flex;
      flex-flow: row nowrap;
      align-items: flex-start;
      position: relative;
      padding-bottom: $line-height-computed;

      &::after {
        content: "";
        height: 100%;
        width: $border-weight;
        background: black;
        position: absolute;
        top: ($order-size - $border-weight) / 2;
        left: ($order-size - $border-weight) / 2;
      }

      &:last-child {
        padding-bottom: 0;

        &::after {
          display: none;
        }
      }

      .phase-order {
        flex: 0 0 auto;
        z-index: 1;
        font-size: $order-font-size;
        font-weight: bold;
        width: $order-size;
        height: $order-size;
        margin: 0 auto 12px;
        border: solid $border-weight black;
        border-radius: 50%;
        background: $white;
        padding: 5px;
        text-align: center;
      }

      .active-phase {
        background: $theme-secondary-light;
      }

      .phase-texts {
        flex: 1 1 100%;
        display: flex;
        flex-flow: column wrap;
        padding-left: $grid-gutter-width/2;
      }

      .phase-title {
        font-weight: bold;

        a {
          color: $text-color;
          text-decoration: underline;

          &:hover,
          &:focus {
            color: $link-hover-color;
          }
        }
      }

      .phase-schedule {
        color: $text-muted;
      }
    }
  }
}

.hearing-image-list {
  margin-bottom: $line-height-computed * 2;
}

.image-lightbox {
  .ril-toolbar-right {
    padding: 8px 10px 8px 0;
  }
}

.image-caption {
  width: 100%;
  padding: 10px 15px;
  margin-bottom: 15px;
  background-color: $gray-lighter;
  font-size: $font-size-small;
}

.section-image {
  margin-bottom: 15px;

  &:hover {
    cursor: pointer;
  }

  .image-caption {
    margin-bottom: 0;
  }
}

.hearing-contacts {
  .contact-card {
    margin-bottom: $line-height-computed;

    @media (max-width: $screen-sm-max) {
      &:nth-child(2n+1) {
        clear: both;
      }
    }

    @media (min-width: $screen-md-min) {
      &:nth-child(3n+1) {
        clear: both;
      }
    }
  }
}

.hearing-section-group {
  margin-bottom: $line-height-computed;
  padding-top: $navbar-height;
}

.comment-form-container {
  @extend .col-xs-12;
  margin-bottom: $line-height-computed * 2;
  button.login-to-comment {
    opacity: 0.65;
  }
  &.disabled > button {
    opacity: 0.6;
    cursor: not-allowed;
  }
}

.comment-form {
  background-color: $white;
  padding: 1em;
  margin-bottom: $line-height-computed;

  &__file {
    margin: 10px 0;
    padding-top: 10px;
  }

  &__image-too-big {
    color: red !important;
    padding-bottom: 10px;
  }

  &__select-file {
    padding: 10px 0;
  }

  .custom-file-input {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    overflow: hidden;
    padding: 0;
    position: absolute !important;
    white-space: nowrap;
    width: 1px;

    & + label {
      @include button-variant($btn-default-color, $btn-default-bg, $btn-default-border);
    }

    &:focus + label {
      border-color: $input-border-focus;
      outline: 5px auto -webkit-focus-ring-color;
      outline-offset: -2px;
    }
  }

  &__selected-images {
    padding-top: 10px;
  }

  &__heading-container {
    display: flex;
    flex-direction: row;

    &__title {
      flex-basis: 50%;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      display: flex;
    }

    &__pin {
      flex-basis: 50%;
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;
      display: flex;

      &__icon {
        cursor: pointer;
        border: 0px;
        outline: 0;

        &:focus {
          outline: none;
        }

        &:active {
          outline: 0;
          box-shadow: none;

          &:focus {
            outline: 0;
          }
        }
      }

      &__pin-comment {
        background-image: url('/assets/images/pin-image.svg') !important;
        height: 22px;
        width: 22px;
        background-repeat: no-repeat;
        background-size: contain;
      }

      &__unpin-comment {
        background-image: url('/assets/images/unpin-image.svg') !important;
        height: 22px;
        width: 22px;
        background-repeat: no-repeat;
        background-size: contain;
      }
    }
  }

  &__map-container {
    .map-padding {
      padding-top: 4px;
      padding-bottom: 4px;
    }
  }

  &__group-admin {

    & .form-group {

      display: flex;
      flex-direction: row;

      &>* {
        margin-left: 24px;
      }

      & :first-child {
        margin-left: 0px;
      }

    }
  }

  &__comment-alert {
    display: flex;
    flex-direction: row;
    align-items: center;

    &__alert-icon {
      display: flex;
      flex-basis: 5%;
      min-width: 40px;
    }

    &__alert-message {
      flex-basis: 90%;
    }

    &__alert-close {
      flex-basis: 5%;
      display: flex;
      justify-content: flex-end;
      min-width: 40px;
      cursor: pointer;
    }
  }

  .comment-buttons {
    text-align: right;
    margin: $line-height-computed 0;

    .btn {
      margin-right: 1em;
    }

    .btn:last-child {
      margin-right: 0;
    }
  }

  textarea {
    height: 7em;
    line-height: 1em;
  }
}

.report-download-button {
  margin-bottom: 12px;

  span {
    white-space: normal;
  }
}

.comment-conditions {
  border-top: 1px solid $gray-light;
  padding-top: 15px;
  font-size: 1.4rem;
}

.closure-info {
  padding: $line-height-computed;
  background-color: $theme-primary-light;

  .section-title {
    cursor: auto;
  }
}

.plugin-frame {
  width: 100%;
  height: 450px;
  border: 0;
}

[id^='hearing-sectiongroup-'] {
  margin-bottom: $line-height-computed * 2;

  h2:first-letter {
    text-transform: capitalize;
  }
}

.sortable-comment-list {
  background-color: $gray-200;
  padding: $line-height-computed;

  h2 {
    margin-top: 0;
    padding-bottom: $line-height-computed / 2;
    border-bottom: 1px solid $gray;
  }

  h2:first-letter {
    text-transform: capitalize;
  }
}

.delete-modal {
  margin-top: 25%;

  @media (max-width: $screen-sm-max) {
    margin-top: 55%;
  }
}

.commentlist .commentlist__load-more {
  background: $gray-light;
  padding: 20px 15px 15px;
  text-align: center;
}

.commenticon {
  float: right;
}

.section-browser {
  @extend .clearfix;
  position: relative;
  border: solid $border-color;
  border-width: 1px 0;
  padding: $grid-gutter-width 0;
  margin: $grid-gutter-width*2 0 $grid-gutter-width 0;

  &.top {
    margin-top: 0;
    border-top: 0;
  }

  &.bottom {
    margin-bottom: 0;
  }

  .section-browser-title {
    display: inline-block;
    padding: 5px 14px;
    vertical-align: middle;

    @media (min-width: $screen-sm-min) {
      font-size: 115%;
    }

    > span {
      border: 0;
      background: transparent;
      padding: 0;
    }
  }

  .pager {
    margin: 0;
    position: relative;
    z-index: 2;

    .disabled {
      span {
        border-color: $text-muted;
      }
    }
  }
}

.hearing-subsection-title {
  margin-top: $grid-gutter-width*1.5;
  margin-bottom: $line-height-computed;

  &-counter {
    display: block;
    margin-bottom: $line-height-computed;
    text-transform: uppercase;
    color: $text-muted;
    font-size: $font-size-large;
    font-weight: normal;
  }
}

.hearing-subsection-comments-header {
  display: flex;
  flex-flow: row wrap;
  padding-bottom: $grid-gutter-width;
  margin-bottom: $grid-gutter-width;
  border-bottom: 1px solid $border-color;
  font-size: $font-size-large;
}

.hearing-subsection-write-comment-link {
  margin-left: 1em;

  &:before {
    content: "";
    background: $text-muted;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
    margin-right: 1em;
  }
}

.hearing-subsection-attachments {
  margin-top: $grid-gutter-width;
  border-top: 1px solid $border-color;
}
