.form-modal {
  width: 80%;

  .modal-content {
    padding: 20px;
    background: $gray-lighter;
  }

  .panel {
    border: 0;
  }

  .panel-heading {
    background: $theme-primary-light;
    padding: $line-height-computed / 2;
  }

  .panel-info .panel-heading {
    background: $theme-info-light;
  }

  .panel-heading a {
    cursor: pointer;
    font-weight: bold;
  }

  .panel-title {
    margin: 0;
  }

  .step-footer {
    text-align: right;
    margin-top: $line-height-computed * 2;
  }

  .step-control {
    .geojson_button {
      border-radius: 5px;
      border: 2px solid black;
      margin: 0 10px;
      padding: 4px 8px;
      font-weight: 500;
      vertical-align: middle;

      &:hover {
        cursor: pointer;
      }
    }
  }

  legend {
    border: 0;
    margin-bottom: 0;
    font-weight: 600;
    font-size: 16px;
  }

  .is-open > .Select-control {
    border-color: $black;
  }

  .Select-control {
    border: 2px solid $black;
    border-radius: 0;

    .Select-arrow {
      display: none;
    }
  }

  .Select-menu-outer {
    border: 2px solid $black;
  }

  .dropzone {
    align-items: center;
    border-color: $theme-primary-light;
    border-radius: 5px;
    border-style: dashed;
    border-width: 2px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    min-height: 100px;
    position: relative;
    text-align: center;
    width: 100%;

    .text {
      font-weight: bold;

      .icon {
        padding: 20px;
        font-size: 30px;
      }
    }
  
    .overlay {
      left: 0;
      margin-left: auto;
      margin-right: auto;
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);

      .text {
        font-weight: bold;

        .icon {
          padding: 20px;
          font-size: 30px;
        }

        * {
          background: none;
        }
      }
    }

    &.preview {
      .overlay {
        display: none;

        .text {
          background: rgba(255, 255, 255, 0.7);
          border-radius: 20px;
          padding: 50px;
        }
      }

      &:hover .overlay {
        display: block;
      }
    }
  }

  .hearing-map {
    width: 100%;
    height: 500px;
  }

  .hearing-languages-selector {
    display: flex;
    flex-direction: row;

    & > span {
      flex: 0;
    }
  }

  .rich-text-editor {
    .DraftEditor-editorContainer {
      border: 2px solid $black;
      min-height: 90px;
    }
  }

  .editor-footer {
    background: $gray-lighter;
    padding: 6px;
    text-align: right;
  }

  .section-toolbar {
    padding: 6px;
    margin-bottom: $line-height-computed;
    text-align: center;
  }

  .new-section-toolbar {
    padding: 6px;
    margin-bottom: $line-height-computed;
    text-align: center;
    background: $theme-secondary-light;
  }

  .question-control {
    margin-right: 10px;
    margin-bottom: 5px;
  }
}

.toolbar-bottom {
  background: $light-gray;
  bottom: 0;
  box-shadow: 0 0 5px rgba(0,0,0,.33);
  left: 0;
  padding: $line-height-computed / 2;
  position: fixed;
  width: 100%;
  z-index: 1002;

  .alert {
    margin-bottom: 0;
    font-weight: bold;

    &.alert-success {
      color: $white;
    }
  }

  .btn-toolbar {
    padding: $line-height-computed / 2 $line-height-computed / 2 0 $line-height-computed / 2;
    background-color: $white;

    .btn {
      margin-bottom: $line-height-computed / 2;
    }
  }
}

.label-elements {
  display: flex;

  > .Select {
    flex-basis: 20%;
    flex-grow: 2;
  }

  .add-label-button {
    margin-left: 5px;
    width: 38px;
  }
}

.hearing-modal-header {
  border: 0;
  padding: 0;

  h2 {
    margin-top: 0;
  }
}

.contact-elements {
  display: flex;

  > .Select {
    flex-basis: 20%;
    flex-grow: 2;
  }

  .add-contact-button {
    margin-left: 5px;
    width: 38px;
  }
}

.checkbox-container {
  display: inline-block;
  margin-right: 25px;

  > span {
    font-weight: bold;
  }

  > input {
    margin-left: 6px;
  }
}

.input-container {
  margin-bottom: 28px;

  .title-inputs > .title-input-container,
  .label-inputs > .label-input-container {
    margin-top: 20px;

    span {
      font-weight: bold;
    }
  }
}

.public-DraftEditorPlaceholder-inner {
  font-style: italic;
  color: #abb2bd;
  font-size: 16px;
}

.question-form {
  .form-control {
    padding: 6px 10px;
    border: 2px solid black;
  }
}
