.page-section {
  padding-top: $line-height-computed * 2;
  padding-bottom: $line-height-computed * 2;
}

.page-section--welcome {
  position: relative;
  min-height: $line-height-computed * 14;
  background-color: $gray;
  background-size: cover;
  background-position: center;

  .welcome-content {
    margin: 0 0 $line-height-computed * 2;
    color: $white;
    text-shadow: 1px 1px 6px rgba($black, 0.7);
  }

  @media screen and (min-width: $screen-sm-min) {
    min-height: $line-height-computed * 20;

    .welcome-content {
      margin: $line-height-computed 0 $line-height-computed * 3;
    }

    h1 {
      font-size: $line-height-computed * 2;
    }

    .lead {
      font-size: 24px;
    }
  }

  @media screen and (min-width: $screen-lg-min) {
    min-height: $line-height-computed * 26;

    .welcome-content {
      margin: $line-height-computed * 2 0 $line-height-computed * 4;
    }

    h1 {
      font-size: $line-height-computed * 3;
    }

    .lead {
      font-size: 32px;
    }
  }

  &:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    background-color: rgba(#333333, 0.5);
  }
}

.page-section--hearing-card {
  position: relative;
  padding: $line-height-computed*3 0;
  background-color: $gray-100;
}

#cookie-panel-switch-container {
  display: flex;
  justify-content: space-between;
}
